<span [ngSwitch]="isAuthenticated()">
  <nav class="lighting-navbar navbar navbar-expand-md fixed-top navbar-dark flex-fill">
   
    <!-- header -->
    <div class="lighting-navbar-header pl-2 pr-2 ml-3 text-center">
      <a class="lighting-navbar-brand m-0 w-100 logo" routerLink="/" (click)="collapseNavbar()">
        <span class="logo-img"></span>
        <span jhiTranslate="global.title" class="navbar-title">Myversion</span> <span class="navbar-version">{{ version }}</span>
      </a>
    </div>

    <!-- sidebar toggler -->
    <div class="lighting-sidebar-toggler ml-auto mr-3">
      <a *ngSwitchCase="true" class="btn lighting-nav-link " (click)="toggleSidebar()">
        <fa-icon icon="bars"></fa-icon>
      </a>
    </div>

    <!-- right menu toggler -->
    <div class="lighting-nav-toggler-right mr-4 d-md-none">
      <button class="" type="button" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed"
        aria-controls="collapseBasic">
        <!-- <span class="navbar-toggler-icon"></span> -->
        <img src="../../../../content/images/lighting/logo.png" class="img-fluid" alt="">
      </button>
      <span class="lighting-user-profile lighting-nav-alert bg-danger"></span>
    </div>

    <!-- left box -->
    <ul class="navbar-nav flex-fill mt-1 align-items-center lighting-left-nav">
      <li *ngSwitchCase="true" class="nav-item navicon">
        <a class="btn lighting-nav-link " (click)="toggleSidebarPin()">
          <fa-icon icon="bars"></fa-icon>
        </a>
      </li>      
    </ul>
  
    <!-- right menu -->
    <div ngbDropdown placement="bottom-right" class="nav-item dropdown pointer mr-3" display="dynamic" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <a class="lighting-nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="account-menu">
          <span *ngIf="!getImageUrl()">
             <fa-icon [icon]="['far','user']"></fa-icon>
          </span>
          <span *ngIf="getImageUrl()">
              <img [src]="getImageUrl()" class="profile-image rounded-circle" alt="Avatar">
          </span>
      </a>
      <ul class="dropdown-menu" ngbDropdownMenu  aria-labelledby="account-menu">
          <li *ngSwitchCase="true">
              <a class="dropdown-item" routerLink="account/settings" routerLinkActive="active" (click)="collapseNavbar()">
                  <fa-icon icon="wrench" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.account.settings">Settings</span>
              </a>
          </li>
          <li *ngSwitchCase="true">
              <a class="dropdown-item" routerLink="account/password" routerLinkActive="active" (click)="collapseNavbar()">
                  <fa-icon icon="lock" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.account.password">Password</span>
              </a>
          </li>
          <li *ngSwitchCase="true">
              <a class="dropdown-item" (click)="logout()" id="logout">
                  <fa-icon icon="sign-out-alt" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.account.logout">Sign out</span>
              </a>
          </li>
          <li *ngSwitchCase="false">
              <a class="dropdown-item" (click)="login()" id="login">
                  <fa-icon icon="sign-in-alt" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.account.login">Sign in</span>
              </a>
          </li>
          <li *ngSwitchCase="false">
              <a class="dropdown-item" routerLink="account/register" routerLinkActive="active" (click)="collapseNavbar()">
                  <fa-icon icon="user-plus" [fixedWidth]="true"></fa-icon>
                  <span jhiTranslate="global.menu.account.register">Register</span>
              </a>
          </li>
      </ul>
    </div>
  </nav>
</span>