.wrapper {
  nav.lighting-navbar {
    height: $navbar-height;
    padding: 0;
    border-bottom: 1px solid;

    .lighting-navbar-header {
      .lighting-navbar-brand {
        font-size: 1rem;
        font-weight: normal;
        letter-spacing: 2px;

        span {
          display: none;
        }
      }
    }

    .lighting-nav-toggler-right {
      position: relative;

      button {
        width: 35px;
        height: 35px;
        padding: 0;
        border: none;
        overflow: hidden;
        border-radius: 50%;
        border: 1px solid #fff;

        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
          object-position: center;
        }
      }

      .lighting-nav-alert {
        right: 0px;
        border-width: 1px;
        width: 9px;
        height: 9px;
      }
    }

    .lighting-nav-alert {
      display: inline-block;
      width: 11px;
      height: 11px;
      border-radius: 50%;
      position: absolute;
      top: 0;
      border: 3px solid #1c1e21;
      transform: translateX(13px);

      @media (min-width: 768px) {
        right: 20px;
        transform: translateX(0);
      }

      &.lighting-user-profile {
        transform: translateX(2px);
      }
    }

    .lighting-navbar-header {
      height: 100%;
      display: flex;
      align-items: center;
    }

    .lighting-user-profile {
      span {
        display: none;
      }
    }

    .lighting-right-nav {
      border-top: 1px solid;
      padding-top: 1rem;
      padding-bottom: 1rem;
      height: calc(100vh - #{$navbar-height} + 1px) !important;

      ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;

        li {
          flex: 1 1 0;
          max-width: 110px;
          padding: 1rem;

          .lighting-nav-link {
            position: relative;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;

            .link-text {
              margin-top: 10px;
              font-size: 0.9rem;
              text-transform: uppercase;
            }
          }
        }
      }
    }

    .lighting-nav-link {
      padding: 0;

      fa-icon {
        padding: 0.5rem;
        line-height: 40px;
        border-radius: 0;
      }
    }

    .lighting-left-nav {
      display: none;

      input.navbar-search {
        max-width: 500px;
        border-radius: 0;
        border: none;
        height: 40px;
        font-size: 0.9rem;
      }
    }

    @media (min-width: 768px) {
      .lighting-sidebar-toggler {
        display: none;
      }

      .lighting-navbar-header {
        width: $sidebar-width;
        margin-left: 0 !important;
        .lighting-navbar-brand span {
          display: inline-block;
        }
      }

      .lighting-left-nav {
        display: flex;
      }

      .lighting-nav-link {
        padding-left: 0.3rem;
        padding-right: 0.3rem;
      }

      .lighting-nav-alert {
        right: 12px;
      }

      .lighting-right-nav {
        height: 100% !important;
        border-top: none;
        background: none !important;

        ul {
          margin-left: auto;
          flex-wrap: nowrap;

          li {
            padding: 0;

            .lighting-nav-link {
              .link-text {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}
